# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environments
venv/
env/
.venv/

# Colab and local files
.DS_Store
*.log

# Raw and processed datasets
data/*.csv
data/*.xlsx
data/*.pkl
data/*.npy

# Models and intermediate artifacts
models/*.cbm
models/*.pkl
models/*.npy

# Secrets
.env
*.key
credentials.json
